html,
body {

    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: #f5f9ff;
    font-family: Outfit;
    line-height: 1.5;
    letter-spacing: 0.5px;

}

*,
*::before,
*::after {

    box-sizing: inherit;

}


#header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    
    background: rgba(41, 63, 90, 0.664);
    
}

#logo-container {
    margin: 10px;
}



#navlinks {

    display: flex;
    justify-content: space-evenly;

}

.navlinks a {

    text-decoration: none;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-family: Outfit;

}

#hero-section {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    background: linear-gradient(rgba(186, 201, 225, 0.529)), url(https://images.pexels.com/photos/12630370/pexels-photo-12630370.jpeg?_gl=1*15gojd1*_ga*OTM3MTUwMTg4LjE3NjAwMjg4NjM.*_ga_8JE65Q40S6*czE3NjQ2NDUyNjckbzE4JGcxJHQxNzY0NjQ1MzgwJGoyOSRsMCRoMA..);
    background-size: cover;

}

#hero-elements {

    margin: 20px;

}

button {

    padding: 15px 70px 15px 70px;
    margin: 10px;
    border-radius: 50px;
    margin-top: 18px;
    border: 2px solid;
    width: 75%;
    font-weight: bold;
    font-family: Outfit;
    letter-spacing: 0.7px;
    background: none;

}

#button-container {

    width: 350px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

#features-section {

    display: flex;
    justify-content: center;
    margin: 50px 20px 50px 20px;
    flex-wrap: wrap;

    
}

.card {

    display: block;
    border: 2px solid;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    padding: 30px 20px 30px 20px;

}

#footer {

    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: right;
    background: rgb(186, 201, 225);



}